<nav-header></nav-header>
<h2>Books</h2>

  <table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Short Description</th>
			<th>Description</th>
			<th>Category</th>
			<th>Author</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

  
		<tr *ngFor="let book of books | async">
			<td>{{book.book_id}}</td>
			<td>{{book.title}}</td>
			<td>{{book.short_desc}}</td>
			<td>{{book.description}}</td>
			<td>{{book.category}}</td>
			<td>{{book.author}}</td>
			<td>{{book.date | date:'mediumDate'}}</td>
			<td>
				<a href="/book/update/{{book._id}}">Edit</a> / 
				<a (click)="deleteBook(book._id)">Delete</a>
			</td>
		</tr>
	
	</tbody>
</table>